<div class="w-[650px] h-[700px] bg-white mx-auto shadow-2xl rounded-lg mt-[30px] pt-[25px]">
    <div class="w-[400px] h-[50px] mx-auto grid grid-cols-[100px,300px] mb-[30px]">
        <div>
            <img class="mx-auto" src="https://cf.quizizz.com/img/editor/createaquiz.png" width="48" height="49" alt="">
        </div>
        <p class="pt-[8px] text-3xl">Create a new quiz</p>
    </div>
    <div class="w-[550px] h-[400px] mx-auto">

        <div class="w-[500px] h-[80px] mx-auto">
            <p for="">Tạo cuộc thi</p>
            <input placeholder="Nhập tên cuộc thi" class="w-[450px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
        </div>
        <div class="w-[500px] h-[80px] mx-auto">
            <p for="">Tạo câu hỏi</p>
            <input placeholder="Nhập câu hỏi" class="w-[450px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
        </div>

        <div class="w-[500px] h-[80px] mx-auto">
            <p for="">Đáp án 1</p>
            <div class="grid grid-cols-[450px,80px] gap-5">
                <input placeholder="Nhập đáp án" class="w-[450px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
                <div>
                    <input class="w-[20px] h-[20px] mt-[24px]" type="checkbox" name="" id="">
                </div>
            </div>
        </div>
        <div class="w-[500px] h-[80px] mx-auto">
            <p for="">Đáp án 2</p>
            <div class="grid grid-cols-[450px,80px] gap-5">
                <input placeholder="Nhập đáp án" class="w-[450px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
                <div>
                    <input class="w-[20px] h-[20px] mt-[24px]" type="checkbox" name="" id="">
                </div>
            </div>
        </div>
        <div class="w-[500px] h-[80px] mx-auto">
            <p for="">Đáp án 3</p>
            <div class="grid grid-cols-[450px,80px] gap-5">
                <input placeholder="Nhập đáp án" class="w-[450px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
                <div>
                    <input class="w-[20px] h-[20px] mt-[24px]" type="checkbox" name="" id="">
                </div>
            </div>
        </div>
        <div class="w-[500px] h-[80px] mx-auto">
            <p for="">Đáp án 4</p>
            <div class="grid grid-cols-[450px,80px] gap-5">
                <input placeholder="Nhập đáp án" class="w-[450px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
                <div>
                    <input class="w-[20px] h-[20px] mt-[24px]" type="checkbox" name="" id="">
                </div>
            </div>
        </div>
        <div class="w-[120px] h-[45px] bg-green-500 mx-auto rounded-sm py-2 mt-7 ">
            <a href="" class="text-lg text-white ml-[20px]">New Quizz</a>
        </div>
    </div>

</div>