<div class="w-[550px] h-[420px] bg-white mx-auto shadow-2xl rounded-lg mt-[150px] pt-[35px]">
    <div class="w-[300px] h-[50px] mx-auto grid grid-cols-[100px,300px] mb-[30px]">
        <div>
            <img class="mx-auto" src="https://cf.quizizz.com/img/editor/createaquiz.png" width="48" height="49" alt="">
        </div>
        <p class="pt-[8px] text-3xl">Quiz Game</p>
    </div>
    <div class="w-[400px] h-[100px] mx-auto">
        <p for="">1. Mã Game</p>
        <input placeholder="Nhập mã game" class="w-[400px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
    </div>
    <div class="w-[400px] h-[100px] mx-auto">
        <p for="">2. Tên người chơi</p>
        <input placeholder="Nhập tên người chơi" class="w-[400px] h-[40px] mt-3 border border-gray-500 rounded-md pl-4" type="text">
    </div>
    <div class="w-[120px] h-[45px] bg-green-500 ml-[76px] rounded-sm py-2 ">
        <a [routerLink]="['/quiz']" routerLinkActive="router-link-active" class="text-lg text-white ml-[35px]">START</a>

    </div>
</div>