<div style="background-image: url(https://a.poki.com/images/bg-diamante.svg)" class="w-screen h-[800px] ">
    <div class="h-[50px] bg-green-500 grid grid-cols-[12%,76%,12%]">
        <div class="pt-3">
            <a [routerLink]="['']" routerLinkActive="router-link-active">
                <img src="https://cf.quizizz.com/img/quizizz_logos/white-brandmark-600x164.png" alt="logo" width="95" height="26" class="mx-auto">
            </a>
        </div>
        <div></div>
        <div class="h-[40px] my-auto w-[140px] bg-gray-500 pt-2 px-[26px] rounded-md">
            <a class="text-[17px] text-white" [routerLink]="['/questions']" routerLinkActive="router-link-active">Create Quiz</a>

        </div>
    </div>
    <router-outlet></router-outlet>

</div>