<div class="w-[650px] h-[640px] bg-white mx-auto shadow-2xl rounded-lg mt-[30px] pt-[25px]">
    <div class="w-[300px] h-[50px] mx-auto grid grid-cols-[100px,300px] mb-[30px]">
        <div>
            <img class="mx-auto" src="https://cf.quizizz.com/img/editor/createaquiz.png" width="48" height="49" alt="">
        </div>
        <p class="pt-[8px] text-3xl">Quiz Game</p>
    </div>
    <div class="w-[550px] h-[400px] mx-auto">
        <p class="text-[25px] font-light">Câu hỏi 1 </p>
        <span class="text-[17px] font-semibold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet at qui ducimus quia rem delectus ?</span>
        <div class="w-[550px] h-[250px] mx-auto mt-8 grid grid-rows-4">
            <div class="my-auto px-4">
                <input type="radio" name="radio" id="" class="mr-3"> <span class="">1. Đáp án 1</span>
            </div>
            <div class="my-auto px-4">
                <input type="radio" name="radio" id="" class="mr-3"> <span class="">2. Đáp án 2</span>
            </div>
            <div class="my-auto px-4">
                <input type="radio" name="radio" id="" class="mr-3"> <span class="">3. Đáp án 3</span>
            </div>
            <div class="my-auto px-4">
                <input type="radio" name="radio" id="" class="mr-3"> <span class="">4. Đáp án 4</span>
            </div>
        </div>
    </div>
    <div class="w-[550px] h-[45px] grid grid-cols-2 mx-auto">
        <div class="w-[120px] h-[45px] bg-green-500 mx-auto rounded-sm py-2 ">
            <a href="" class="text-lg text-white ml-[40px]">Back</a>
        </div>
        <div class="w-[120px] h-[45px] bg-green-500 mx-auto rounded-sm py-2 ">
            <a href="" class="text-lg text-white ml-[40px]">Next</a>
        </div>
    </div>
</div>